<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Agenda</title>
</head>
<body>
    <h1>Minha Agenda</h1>
    
    <form method="POST" action="/add">
        <label for="event">Evento:</label>
        <input type="text" name="event" required>
        
        <label for="date">Data:</label>
        <input type="text" name="date" placeholder="YYYY-MM-DD" required>
        
        <label for="time">Hora:</label>
        <input type="text" name="time" placeholder="HH:MM" required>
        
        <button type="submit">Adicionar Evento</button>
    </form>

    <ul>
        {% for index, event in enumerate(agenda) %}
            <li>
                <a href="/mostrar/{{ event[0] }}">{{ event[1] }}</a>
                - Data: {{ event[2] }}, Hora: {{ event[3] }}
                <a href="/remove/{{ event[0] }}">[Remover]</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
